<tr class="<%= cycle('', 'alt') %>">
  <%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
  <td>
    <%= hook :cart_item_description, locals do %>
      <p><%= link_to variant.product.name,  product_path(variant.product) %></p>
      <p><%= variant_options variant %></p>
      <p><%= truncate(variant.product.description, :length => 70, :omission => "...") %></p>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_price, locals do %>
      <%=  product_price(line_item) %>
    <% end %>
  </td>
  <td>
    <%= hook :cart_item_quantity, locals do %>
      <%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %>
    <% end %>
  </td>

  <td>
    <%= hook :cart_item_total, locals do %>
      <%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
    <% end %>
  </td>
  <td style='display:none'>
    <%= hook :cart_item_delete, locals do %>
      <%= link_to(image_tag('/images/admin/icons/delete.png'), '#', :class => 'delete') %>
    <% end %>
  </td>

</tr>
