<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
    //<![CDATA[
      $(document).bind("mobileinit", function(){
        $.mobile.ajaxEnabled = false;
      });
    //]]>
    </script>
    <script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    <%= javascript_include_tag 'rails' %>
    <%= stylesheet_link_tag 'mobile' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <a href="/" id='home_link' data-icon="home" data-ajax="false" class="ui-btn-left">&nbsp;</a>
        <h1><%= title %></h1>
        <a href="?mobile=0" data-icon="gear" data-ajax="false" class="ui-btn-right"><%= t(:full_site)%></a>
        <div data-role="navbar">
          <ul>
            <% if current_user %>
              <li><%= link_to t('my_account'), account_path, :class => css_class(account_path) %></li>
              <li><%= link_to t('logout'), destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to t('log_in'), login_path, :class => css_class(login_path) %></li>
            <% end %>
            <li><%= link_to t(:search), search_path, :class => css_class(search_path) %></li>
            <li><%= link_to_cart %></li>
          </ul>
        </div>
        
        <% [:notice, :error].each do |message_type| %>
          <% if flash[message_type] %>
          <script type="text/javascript">
          //<![CDATA[
            $(document).ready(function() {
              $("<div class='ui-loader ui-overlay-shadow <%= (message_type == :error) ? 'ui-body-a' : 'ui-body-e' %> ui-corner-all'><h1><%= flash[message_type] %></h1></div>")
              .css({ "display": "block", "opacity": 0.96, "top": $(window).scrollTop() + 100 })
              .appendTo( $.mobile.pageContainer )
              .delay( 2500 )
              .fadeOut( 400, function(){
                $(this).remove();
              });
            });
          //]]>
          </script>
          
          <noscript>
            <div data-role="navbar">
              <%= flash[message_type] %>
            </div>
          </noscript>
          <% end %>        
        <% end %>
        
      </div>
      <div data-role="content">
        <%= yield %>
      </div>
      <div data-role="footer">
        <div id="footer-left" data-hook="footer_left">
          <%= copyright %>
        </div>
        <div id="footer-right" data-hook="footer_right"></div>
      </div>
      <%= render 'shared/google_analytics' %>
  </body>
</html>
