<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <%= javascript_include_tag 'rails' %>
    <%= stylesheet_link_tag 'mobile' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <h1><%= title %></h1>
        <div data-role="navbar">
          <ul>
            <li><%= link_to t(:home), root_path, :class => css_class(root_path) %></li>
            <% if current_user %>
              <li><%= link_to t('my_account'), account_path, :class => css_class(account_path) %></li>
              <li><%= link_to t('logout'), destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to t('log_in'), login_path, :class => css_class(login_path) %></li>
            <% end %>
            <li><%= link_to_cart %></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div data-role="footer">
        <%= render 'shared/footer'%>
      </div>
    </div>
  </body>
</html>
