<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    <%= javascript_include_tag 'rails' %>
    <%= stylesheet_link_tag 'mobile' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <h1><%= title %></h1>
        <a href="?mobile=0" data-icon="gear" data-ajax="false" class="ui-btn-right"><%= t(:full_site)%></a>
        <div data-role="navbar">
          <ul>
            <li><%= link_to t(:home), root_path, :class => css_class(root_path) %></li>
            <li><%= link_to t(:search), search_path, :class => css_class(search_path) %></li>
            <% if current_user %>
              <li><%= link_to t('my_account'), account_path, :class => css_class(account_path) %></li>
              <li><%= link_to t('logout'), destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to t('log_in'), login_path, :class => css_class(login_path) %></li>
            <% end %>
            <li><%= link_to_cart %></li>
          </ul>
        </div>
        
        <% [:notice, :error].each do |message_type| %>
				  <% if flash[message_type] %>
				    <script>
              $("<div class='ui-loader ui-overlay-shadow <%= (message_type == :error) ? 'ui-body-a' : 'ui-body-e' %> ui-corner-all'><h1><%= flash[message_type] %></h1></div>")
              .css({ "display": "block", "opacity": 0.96, "top": $(window).scrollTop() + 100 })
              .appendTo( $.mobile.pageContainer )
              .delay( 2500 )
              .fadeOut( 400, function(){
                $(this).remove();
              });
				    </script>
				    <noscript>
				      <div data-role="navbar">
      				  <%= flash[message_type] %>
				      </div>				    
				    </noscript>
				  <% end %>        
        <% end %>
        
      </div>
      <div data-role="content">
        <%= yield %>
      </div>
      <div data-role="footer">
        <%= render 'shared/footer'%>
      </div>
    </div>
  </body>
</html>
