<div data-role="content">
  <h1><%= @product.name %></h1>
  <table>
    <tr>
      <td id="main-image">
        <%= render 'image' %>
      </td>
    </tr>
    <tr>
      <td>
        <div id="cart-form" data-hook="cart_form">
          <div id="cart-form">
            <%= render :partial => 'cart_form' %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="product-description">
          <div data-hook="product_description">
            <%= product_description(@product) rescue t("product_has_no_description") %>
          </div>
          <div data-hook="product_properties">
            <%= render 'properties' %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
