<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= @products
%>
<% if params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>
<% if @products.present? %>
  <ul data-role="listview">
    <% @products.each do |product| %>
    <li>
      <%= product_image(product)%>
	    <h3><%= link_to product.name, product %></h3>
	    <p><%= truncate(product.description, :length => 70, :omission => "...") %></p>
    </li>
    <% end %>
  </ul>
  <% if paginated_products.respond_to?(:total_pages)
        params.delete(:search)
        params.delete(:taxon)
        
  %><%= will_paginate(paginated_products,
                      :previous_label => "&#171; #{t('previous')}",
                      :next_label => "#{t('next')} &#187;") %>
  <% end %>
<% else %>
  <%= t(:no_products_found) %>
<% end %>
